{% if section.settings.product_breadcrumb %}
  <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
    &nbsp;<span class="icon-arrow-right"></span>
    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
      {% if collection %}
        <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
      {% else %}
        <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>
      {% endif %}
    </span>
    &nbsp;<span class="icon-arrow-right"></span>
    {{ product.title }}
  </div>
{% endif %}
