{% if section.settings.image != nil %}
  {% assign feature_image = true %}
{% endif %}

{% if section.settings.image != nil %}
  <div id="slide-blog" class="parallax-banner featured-image--{{ feature_image }}">
    <div class="bcg"
        data-bottom-top="background-position: 50% 0px;"
        data-top-bottom="background-position: 50% -200px;"
        data-anchor-target="#slide-blog">
        <div class="hsContainer">
            <div class="hsContent center">
              <div>
                {% if current_tags %}
                  <h1 class="headline" style="color:{{settings.banner_color}}">{{ current_tags }}</h1>
                {% else %}
                  {% if section.settings.image_blog_headline != blank %}
                    <h1 class="headline">{{ section.settings.image_blog_headline }}</h1>
                  {% endif %}
                  {% if section.settings.image_blog_subtitle != blank %}
                    <div class="subtitle">
                      {{ section.settings.image_blog_subtitle }}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
        </div>
    </div>
  </div>
{% endif %}

<div class="container main content main-wrapper">
  {% paginate blog.articles by section.settings.blog_posts_per_page %}
    {% unless section.settings.image %}
      <div class="sixteen columns">
        <h1 class="center">
          {% if current_tags %}
            <a href="/blogs/{{ blog.handle }}/tagged/{{ current_tags | handleize }}" title="{{ blog.title | escape }}">{{ current_tags }}</a>
          {% else %}
            <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
          {% endif %}
        </h1>
        <div class="feature_divider"></div>
      </div>
    {% endunless %}

    <div class="section clearfix">
      <div class="sixteen columns clearfix breadcrumb">
        <div class="eight columns breadcrumb_text alpha" itemscope itemtype="http://schema.org/BreadcrumbList">
          {% if section.settings.blog_breadcrumb %}
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
            &nbsp;<span class="icon-arrow-right"></span>
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a></span>
            {% if current_tags %}
              {% for tag in current_tags %}
                &nbsp;<span class="icon-arrow-right"></span>
                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
              {% endfor %}
            {% endif %}

            {% if paginate.pages != 0 %}
              &nbsp;<span class="icon-arrow-right"></span> {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
            {% endif %}
          {% endif %}
        </div>

        {% if section.settings.blog_tags %}
          <div class="four offset-by-four columns section_select omega">
            <select name="tag_filter" id="tag_filter" class="blog_filter">
              <option {% unless current_tags %}selected="selected"{% endunless %} value="{{ blog.url }}">{{ 'blogs.general.view_all' | t }}</option>
              {% for tag in blog.all_tags %}
                <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
      </div>
    </div>

    {% comment %}Check to see if sidebar should be enabled{% endcomment %}
    {% if section.blocks.size > 0 %}
      {% assign sidebar = true %}
    {% else %}
      {% assign sidebar = false %}
    {% endif %}

    <div class="{% if sidebar %}twelve{% else %}sixteen{% endif %} columns">
      {% for article in blog.articles %}
        {% if section.settings.blog_articles_per_row == "1" %}
          {% if article.image %}
            <div class="{% if sidebar %}seven{% else %}nine{% endif %} columns alpha article_image">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">
                <img src="{{ article.image | img_url: '1024x1024' }}" alt="{{ article.title | escape }}" />
              </a>
            </div>
            <div class="{% if sidebar %}five{% else %}seven{% endif %} columns omega article">
          {% else %}
            <div class="{% if sidebar %}eight{% else %}sixteen{% endif %} columns alpha omega article">
          {% endif %}
        {% else %}
          {% if sidebar %}
            <div class="{% if section.settings.blog_articles_per_row == "2" %}six columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_articles_per_row == "3" %}four columns {% cycle 'alpha', '', 'omega' %}{% else %}three columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
          {% else %}
            <div class="{% if section.settings.blog_articles_per_row == "2" %}eight columns {% cycle 'alpha', 'omega' %}{% elsif section.settings.blog_articles_per_row == "3" %}one-third column {% cycle 'alpha', '', 'omega' %}{% else %}four columns {% cycle 'alpha', '', '', 'omega' %}{% endif %} article">
          {% endif %}

          {% if article.image %}
            <a href="{{ article.url }}" title="{{ article.title | escape }}">
              <img src="{{ article.image | img_url: 'grande' }}" alt="{{ article.title | escape }}" />
            </a>
          {% endif %}
        {% endif %}

          {% if section.settings.blog_tags %}
            <div class="blog_meta tags">
              {% for tag in article.tags %}
                <span><a href="{{ shop.url }}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
              {% endfor %}
            </div>
          {% endif %}

          <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>

          <p class="blog_meta">
            {% if section.settings.blog_author %}
              <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}

            {% if section.settings.blog_date %}
              <span>{{ article.published_at | date: format: "month_day_year" }}</span>
            {% endif %}

            {% if section.settings.blog_comment_count %}
              {% if settings.disqus_enabled %}
                <span>
                  <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                </span>
              {% elsif article.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                </span>
              {% endif %}
            {% endif %}
          </p>

          {% if article.excerpt != blank %}
              <div class="excerpt"> {{ article.excerpt }}</div>
          {% endif %}
          {% if section.settings.read_more_link %}
            <p>
              <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-arrow-right"></span></a>
            </p>
          {% endif %}
        </div>

        {% if section.settings.blog_articles_per_row == "2" %}
          {% cycle "article_row": '', '<br class="clear" />' %}
        {% elsif section.settings.blog_articles_per_row == "3" %}
          {% cycle "article_row": '', '', '<br class="clear" />' %}
        {% elsif section.settings.blog_articles_per_row == "4" %}
          {% cycle "article_row": '', '', '', '<br class="clear" />' %}
        {% else %}
          <br class="clear" />
        {% endif %}
      {% endfor %}
    </div>

    {% include "blog-sidebar", blog_handle: blog.handle %}

    <br class="clear" />
    <div class="sixteen columns">
      {% include 'pagination' %}
    </div>
  {% endpaginate %}
</div>

<style>
  #slide-blog .bcg {
    background-image:url({% if section.settings.image != nil %}{{ section.settings.image | img_url: '1600x' }}{% else %}{{ 'placeholder.svg' | asset_url }}{% endif %})
  }
  #slide-blog .hsContainer {
    height: {{ section.settings.image_height | remove: "px" }}px;
  }
  @media only screen and (max-width: 767px) {
    #slide-blog .hsContainer {
      height: {{ section.settings.image_height | divided_by: 1.5 }}px !important;
    }
  }

  {% if section.settings.image %}
    div.content {
      padding: 0;
    }
  {% endif %}
</style>

{% schema %}

{
  "name": "Blog",
  "class": "blog-template-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show blog post tags"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for blog post excerpts",
      "default": true
    },
    {
      "type": "select",
      "id": "blog_posts_per_page",
      "label": "Blog posts per page",
      "options": [
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "12",
          "label": "12"
        },
        {
          "value": "24",
          "label": "24"
        },
        {
          "value": "36",
          "label": "36"
        }
      ],
      "default": "12"
    },
    {
      "type": "select",
      "id": "blog_articles_per_row",
      "label": "Blog posts per row",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ],
    "default": "2"
    },
    {
      "type": "header",
      "content": "Banner image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1600 x 1000px recommended"
    },
    {
      "type": "text",
      "id": "image_height",
      "label": "Section height (in pixels)",
      "info": "Maximum section height is 1000 pixels",
      "default": "400"
    },
    {
      "type": "text",
      "id": "image_blog_headline",
      "label": "Heading",
      "default": "My blog"
    },
    {
      "type": "richtext",
      "id": "image_blog_subtitle",
      "label": "Subheading",
      "default": "<p>This is a subheading for your blog page</p>"
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content"
    }
  ],
  "blocks": [
    {
      "type": "search",
      "name": "Search form",
      "limit": 1
    },
    {
      "type": "newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "newsletter_headline",
          "label": "Heading",
          "default": "Subscribe"
        },
        {
          "type": "richtext",
          "id": "newsletter_subtitle",
          "label": "Subheading",
          "default": "<p>Sign up to get the latest on sales, new releases and more …</p>"
        }
      ]
    },
    {
    "type": "recent_posts",
    "name": "Recent blog posts",
    "limit": 1
    },
    {
    "type": "post_tags",
    "name": "Blog post tags",
    "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}

{% endschema %}
